html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans";
}

h1 {
    font-family: Roboto!important;
    font-weight: 600;
    color: #EE1C25;
}

#header {
    background-image: url(./images/main_background-min.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 80vh;
    padding-top: 90px;

    
    border-bottom: 2px solid #EE1C25;
}

@media (max-width: 576px) {
    #header {
        background-attachment: scroll;
        background-position-y: 0px;

        display: grid;
        grid-template-columns: 1 1fr;
        grid-template-rows: 1 1fr;

        justify-items: center;
    }
}

.tagline {
    grid-column: 2/2;
    width: 100%;
    border: none;
    background-color: rgba(52, 58, 64, 0);
    color: white;
    text-align: right;
    font-size: 50px;
    font-weight: 700;
    text-shadow: 1px 1px 2px rgba(52, 58, 64, 1);
    padding: 10px;
    overflow-x: auto;
}

.subtag {
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(52, 58, 64, 1);
}

.action-call {
    text-shadow: none;
    display:inline-block;   
    background-color: rgba(255, 255, 255, .7);
    padding:0.5em 1em;
    border-radius: 5px;
    box-sizing: border-box;   
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:  rgba(52, 58, 64, 1);
    text-align:center;
    transition: all 0.3s;
}

.action-call:hover {
    color: white;
    background-color:rgba(52, 58, 64, 1);
    text-decoration: none;
}

/* About Section */

#about {
    color: black;
    font-size: 14px;

    display: flex;
    justify-content: space-around;
}

.hd-about {
    grid-area: hd_about;
    align-items: center;
}

.txt-about {
    /* align-self: top; */
    grid-area: txt_about;
}

.pic-about {
    grid-area: pic_about;
}

.pic-about {
    background-image: url(./images/shop.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}

.about_grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        'hd_about pic_about'
        'hd_about pic_about'
    ;
}

.about_grid_services {
    display: flex;
    justify-content: center;
}

.about_grid > .card, .about_grid_services > .card {
    border: none!important;
    border-radius: 0!important;
}

@media (max-width: 992px) {
    .about_grid {
        grid-template-columns: 1fr;
        grid-template-areas: 
            'hd_about'
            'pic_about'
        ;
    }

    .hd-about {
        width: 510px;
        justify-self: center;
    }

    .pic-about {
        place-self: center;
        width: 510px;
    }
}

@media (max-width: 576px) {
    .about_grid {
        grid-template-columns: 1fr;
        grid-template: 
            "hd_about"
            "pic_about"
        ;
    }

    .hd-about {
        width: 320px;
    }

    .pic-about {
        width: 320px;
        height: 250px;
    }
}

/* Services Section */

.s1 { 
    grid-area: s1; 
    background-image: url(./images/spotlight/spotlight_gate.png);
}

.s2 { 
    grid-area: s2;  
    background-image: url(./images/spotlight/spotlight_powder_coat.png);
}
.s3 { 
    grid-area: s3;  
    background-image: url(./images/spotlight/spotlifgh_fence.png);
}
.s4 { 
    grid-area: s4;  
    background-image: url(./images/spotlight/spotlight_cnc.png);
}

.s5 { 
    grid-area: s5; 
    background-image: url(./images/spotlight/spotlight_fabrication.png);
}

.s6 { 
    grid-area: s6;  
    background-image: url(./images/main_background-min.jpg);
}
.s7 { 
    grid-area: s7;  
    background-image: url(./images/spotlight/spotlight_structural.png);
}
.s8 { 
    grid-area: s8;  
    background-image: url(./images/spotlight/spotlight_ornamental.png);
}

.services {
    background-color: rgba(52, 58, 64, 1);
    align-content: center;
    
    border-top: 2px solid #EE1C25;
    border-bottom: 2px solid #EE1C25;
}

.services-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2px;
    grid-template-columns: 230px 230px 230px 230px;
    grid-template-areas: 
        's1 s2 s3 s4'
        's5 s6 s7 s8'
    ;
}

.service {
    position: relative;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 230px;
    width: 230px;
    transition: transform .3s;
}

.service-num {
    position: fixed;
}

.service-pic {
    /* position: relative; */
    height: 230px;
    width: 230px;
    transition: transform .2s;
}

.service:hover {
    cursor: pointer;
}

.zoom:hover {
    transform: scale(2.0);
    z-index: 3000;
    border: 1px solid;
    position: relative;
}

.about_grid_services h1 {
    text-align: center;
    font-size: 50px!important;
}

.img-overlay {
    background-color: rgba(66, 15, 18, 0.5);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px black;
    transition: all .2s ease-out;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-overlay:hover {
    background-color: rgba(66, 15, 18, 0);
}

@media (max-width: 992px) {
    .services-grid {
        grid-template-columns: 230px 230px;
        grid-template-areas: 
            's1 s2'
            's3 s4'
            's5 s6'
            's7 s8'
        ;

        justify-content: center;
    }
}

@media (max-width: 576px) {
    .services-grid {
        grid-template-columns: repeat(2, 170px);
    }

    .service {
        height: 170px;
        width: 170px;
    }

    .img-overlay:hover {
        background-color: rgba(66, 15, 18, .5);
    }

    /* .zoom:hover {
        transform: none;
        border: none;
        z-index: 10;
    } */
}

.service:hover > .pic-num {
    opacity: 100%;
}

.pic-num {
    background-color: black;
    text-transform: none;
    height: 20px;
    opacity: 50%;
    bottom: 0;
    top: auto;
}

/* Contact Section */

#contact {
    border-bottom: 2px solid #EE1C25;
}

.contact-copy {
    grid-area: contact-copy;
    border: none;
    display: grid;
    place-items: center;
    text-align: center;
}

.contact-copy a {
    color: #EE1C25;
    transition: all .3s ease-out;
    line-height: 20px;
}

.contact-copy a:hover {
    font-size: 18px;
    text-decoration: none;
}

.contact-picture {
    grid-area: contact-picture;
    display: grid;
    justify-items: center;
}

.contact-map {
    grid-area: contact-map;
    box-shadow: 1px 1px 10px rgba(52, 58, 64, 1);
}

.contact-picture img {
    height: 125px;
}

.contacts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: repeat(2, 1fr);
    grid-gap: 20px;
    grid-template: 
        "contact-copy contact-map contact-map"
        "contact-picture contact-map contact-map"
    ;
}

@media (max-width: 768px) {
    .contacts-grid {
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: repeat(3, auto);
        grid-template: 
            "contact-copy contact-picture"
            "contact-map contact-map"
            "contact-map contact-map"
        ;
    }

    .contact-picture {
        place-self: center;
    }
}

@media (max-width: 576px) {
    .contacts-grid {
        grid-template-columns: auto;
        grid-auto-rows: repeat(4, auto);
        grid-template: 
            "contact-copy"
            "contact-map"
            "contact-map"
            "contact-picture"
        ;
    }

    .contact-picture {
        justify-self: center;
    }

    .contact-copy {
        text-align: center;
    }
}